body {
    background-color: #084f1b;
    color: blanchedalmond;                                           
    font-family: 'Roboto Slab', serif;
}

.biodata {
    width: fit-content;
    height: fit-content;
    background-color: #013910;
    margin-left: auto;
    margin-right: auto;
}

.biodata:hover {
    box-shadow: 10px 10px 5px black;
    transition: all 0.5s;
}

.tentang-saya {
    font-size: 25px;
    background-color: #013910;
    width: 700px;
    height: fit-content;
    margin-top: 50px;
    margin-left: 75px;
    font-size: 20px;
    line-height: 25px;
    border: 50px solid #013910;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 2%;
    border-left: 100px solid rgba(255, 255, 0, 0.889);
}

.tentang-saya::first-letter {
    font-size: 30px;
}

.tentang-saya:hover {
    box-shadow: 10px 10px 5px black;
    transition: all 0.5s;
}

.kelebihan {
    font-size: 25px;
    background-color: #013910;
    width: 700px;
    height: fit-content;
    margin-top: 50px;
    margin-right: 75px;
    font-size: 20px;
    line-height: 25px;
    border: 50px solid #013910;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 2%;
    border-right: 100px solid rgba(0, 0, 255, 0.752);
    float: right;
    margin-bottom: 50px;
}

.kelebihan:hover {
    box-shadow: 10px 10px 5px black;
    transition: all 0.5s;
}

.riwayat-pend {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sekolah{
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 25%;
}

.sekolah:hover {
    background-color: #013910;
    box-shadow: 5px 5px 5px black;
    transition: all 0.5s;
}

.sosmed {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    margin-bottom: 200px;
    text-align: center;
}

.logo-sosmed {
    background-color: #013910;
    border: 2px solid grey;
    border-radius: 10%;
}


.logo-sosmed:hover {
    background-color: #013910;
    box-shadow: 5px 5px 5px black;
    transition: all 0.5s;
}